---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API_KEY>&exclude=minutely,alerts&lat=40.015831&lon=-105.27927&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.0158,"lon":-105.2793,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1615221468,"sunrise":1615209803,"sunset":1615251629,"temp":45.61,"feels_like":39.45,"pressure":1018,"humidity":39,"dew_point":23.23,"uvi":2.69,"clouds":1,"visibility":10000,"wind_speed":2.42,"wind_deg":269,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1615219200,"temp":45.61,"feels_like":39.45,"pressure":1018,"humidity":39,"dew_point":23.23,"uvi":1.56,"clouds":1,"visibility":10000,"wind_speed":2.42,"wind_deg":269,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1615222800,"temp":51.03,"feels_like":45.36,"pressure":1017,"humidity":37,"dew_point":26.42,"uvi":2.69,"clouds":49,"visibility":10000,"wind_speed":2.24,"wind_deg":135,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1615226400,"temp":55.58,"feels_like":50.07,"pressure":1015,"humidity":35,"dew_point":28.81,"uvi":3.63,"clouds":79,"visibility":10000,"wind_speed":2.55,"wind_deg":132,"weather":[{"id":803,"main":"Clouds","description":[...]
