---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_key>&location=Boulder,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 10 Mar 2021 00:59:30 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Boulder,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Boulder","adminArea5Type":"City","adminArea4":"Boulder
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039983","unknownInput":"","type":"s","latLng":{"lat":40.015831,"lng":-105.27927},"displayLatLng":{"lat":40.015831,"lng":-105.27927},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_key>&type=map&size=225,160&locations=40.015831,-105.27927|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1082674620"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Boulder
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282931994","unknownInput":"","type":"s","latLng":{"lat":40.015831,"lng":-105.27927},"displayLatLng":{"lat":40.015831,"lng":-105.27927},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_key>&type=map&size=225,160&locations=40.015831,-105.27927|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-1593538346"}]}]}'
  recorded_at: Wed, 10 Mar 2021 00:59:30 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API_KEY>&exclude=minutely,alerts&lat=40.015831&lon=-105.27927&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.0158,"lon":-105.2793,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1615337969,"sunrise":1615296108,"sunset":1615338093,"temp":56.88,"feels_like":44.15,"pressure":1007,"humidity":24,"dew_point":21.79,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":13.8,"wind_deg":360,"wind_gust":20.71,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1615334400,"temp":56.88,"feels_like":49.78,"pressure":1007,"humidity":24,"dew_point":21.79,"uvi":0.21,"clouds":75,"visibility":10000,"wind_speed":3.8,"wind_deg":319,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1615338000,"temp":54.84,"feels_like":47.17,"pressure":1006,"humidity":33,"dew_point":26.98,"uvi":0,"clouds":87,"visibility":10000,"wind_speed":5.93,"wind_deg":307,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1615341600,"temp":51.08,"feels_like":41.77,"pressure":1006,"humidity":44,"dew_point":30.2,"uvi":0,"clouds":95,"visibility":10000,"wind_speed":9.66,"wind_deg":338,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.2},{"dt":1615345200,"temp":47.48,"feels_like":40.3,"pressure":1006,"humidity":54,"dew_point":31.73,"uvi":0,"clouds":98,"visibility":10000,"wind_speed":6.33,"wind_deg":358,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.21},{"dt":1615348800,"temp":44.24,"feels_like":37.44,"pressure":1006,"humidity":61,"dew_point":31.71,"uvi":0,"clouds":91,"visibility":10000,"wind_speed":5.66,"wind_deg":327,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.25},{"dt":1615352400,"temp":41.94,"feels_like":36.88,"pressure":1005,"humidity":67,"dew_point":31.75,"uvi":0,"clouds":77,"visibility":10000,"wind_speed":2.59,"wind_deg":41,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.29,"rain":{"1h":0.11}},{"dt":1615356000,"temp":42.37,"feels_like":38.07,"pressure":1005,"humidity":70,"dew_point":33.58,"uvi":0,"clouds":81,"visibility":10000,"wind_speed":1.63,"wind_deg":5,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.45,"rain":{"1h":0.57}},{"dt":1615359600,"temp":39.92,"feels_like":35.19,"pressure":1005,"humidity":83,"dew_point":35.33,"uvi":0,"clouds":100,"visibility":190,"wind_speed":2.93,"wind_deg":259,"weather":[{"id":501,"main":"Rain","[...]
