---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=<UNSPLASH_API_KEY>&content_filter=high&count=1&query=Boulder,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0b8e1dc042ea5a8b40b04d228b7a28fe"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"Usm5jHWod6s","created_at":"2021-02-08T14:29:40-05:00","updated_at":"2021-03-07T03:28:31-05:00","promoted_at":null,"width":3011,"height":2007,"color":"#c0a68c","blur_hash":"LKG[D,57IUxuE2Ip-oRk0LxaNIIo","description":null,"alt_description":"brown
        and white animal on brown wood","urls":{"raw":"https://images.unsplash.com/photo-1612812507814-e5c9f95dc0e0?ixid=MXwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1612812507814-e5c9f95dc0e0?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MXwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1612812507814-e5c9f95dc0e0?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1612812507814-e5c9f95dc0e0?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1612812507814-e5c9f95dc0e0?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/Usm5jHWod6s","html":"https://unsplash.com/photos/Usm5jHWod6s","download":"https://unsplash.com/photos/Usm5jHWod6s/download","download_location":"https://api.unsplash.com/photos/Usm5jHWod6s/download"},"categories":[],"likes":0,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"uPvBH6zBOj8","updated_at":"2021-03-06T20:17:03-05:00","username":"alexvassios","name":"Alex
        Vassios","first_name":"Alex","last_name":"Vassios","twitter_username":"alexvassios","portfolio_url":"http://www.alexvassios.wixsite.com/home","bio":"Photographer,
        Filmmaker, Online Media Specialist. Currently residing in Colorado Springs,
        Colorado. Here is a collection of some of my best photos, enjoy!","location":"Colorado
        Springs, CO","links":{"self":"https://api.unsplash.com/users/alexvassios","html":"https://unsplash.com/@alexvassios","photos":"https://api.unsplash.com/users/alexvassios/photos","likes":"https://api.unsplash.com/users/alexvassios/likes","portfolio":"https://api.unsplash.com/users/alexvassios/portfolio","following":"https://api.unsplash.com/users/alexvassios/following","followers":"https://api.unsplash.com/users/alexvassios/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1606847284231-d383dbde2801image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1606847284231-d383dbde2801image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1606847284231-d383dbde2801image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"alex_vassios","total_collections":10,"total_likes":6,"total_photos":177,"accepted_tos":true,"for_hire":true},"exif":{"make":"SONY","model":"ILCE-7M3","exposure_time":"1/320","aperture":"5.6","focal_length":"70.0","iso":100},"location":{"title":"Cheyenne
        Mountain Zoo, Colorado Springs, CO, USA","name":"Cheyenne Mountain Zoo, Colorado
        Springs, CO, USA","city":null,"country":null,"position":{"latitude":null,"longitude":null}},"views":1582,"downloads":38}]'
  recorded_at: Mon, 08 Mar 2021 01:08:39 GMT
recorded_with: VCR 6.0.0
