---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=<UNSPLASH_API_KEY>&content_filter=high&count=1&query=Boulder,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ae1f62c3a151d60df341a70ca86d4f98"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"a2i6ffPckB4","created_at":"2021-02-24T19:39:52-05:00","updated_at":"2021-03-07T13:33:38-05:00","promoted_at":"2021-02-25T03:30:08-05:00","width":5314,"height":3540,"color":"#c0c0c0","blur_hash":"LQKne:xuIoIokDoJofxu0KWBIoof","description":"Drone
        Photography By Lance Asper!\n\nRecent Colorado trip to the mountains!\n\nFor
        more work or to contact me, email at Create@lanceasper.com","alt_description":"black
        and white tree under white clouds","urls":{"raw":"https://images.unsplash.com/photo-1614202166081-5fa49671cfc7?ixid=MXwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1614202166081-5fa49671cfc7?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MXwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1614202166081-5fa49671cfc7?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1614202166081-5fa49671cfc7?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1614202166081-5fa49671cfc7?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/a2i6ffPckB4","html":"https://unsplash.com/photos/a2i6ffPckB4","download":"https://unsplash.com/photos/a2i6ffPckB4/download","download_location":"https://api.unsplash.com/photos/a2i6ffPckB4/download"},"categories":[],"likes":30,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"1NNUgAxib30","updated_at":"2021-03-08T09:17:04-05:00","username":"lance_asper","name":"Lance
        Asper","first_name":"Lance","last_name":"Asper","twitter_username":"Lance_Asper","portfolio_url":"http://www.lanceasper.com","bio":"Video
        Producer / Licensed  Drone pilot / Photographer /  www.lanceasper.com","location":"Jacksonville,
        florida","links":{"self":"https://api.unsplash.com/users/lance_asper","html":"https://unsplash.com/@lance_asper","photos":"https://api.unsplash.com/users/lance_asper/photos","likes":"https://api.unsplash.com/users/lance_asper/likes","portfolio":"https://api.unsplash.com/users/lance_asper/portfolio","following":"https://api.unsplash.com/users/lance_asper/following","followers":"https://api.unsplash.com/users/lance_asper/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1614200113015-eba6b7ae1c5dimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1614200113015-eba6b7ae1c5dimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1614200113015-eba6b7ae1c5dimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"Lance_Asper","total_collections":0,"total_likes":325,"total_photos":85,"accepted_tos":true,"for_hire":true},"exif":{"make":"Hasselblad","model":"L1D-20c","exposure_time":"1/200","aperture":"2.8","focal_length":"10.3","iso":400},"location":{"title":"Eagle
        County, CO, USA","name":"Eagle County, CO, USA","city":null,"country":"United
        States","position":{"latitude":39.576406,"longitude":-106.723464}},"views":231480,"downloads":2443}]'
  recorded_at: Mon, 08 Mar 2021 16:20:42 GMT
recorded_with: VCR 6.0.0
