---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&content_filter=high&page=1&per_page=1&query=Boulder,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&content_filter=high&page=3028&per_page=1&query=Boulder%2Cco>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&content_filter=high&page=2&per_page=1&query=Boulder%2Cco>;
        rel="next"
      X-Total:
      - '3028'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      Etag:
      - W/"6aa84295b0a6a29c6eb5953e19a25356"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"total":3028,"total_pages":3028,"results":[{"id":"pdu9XoHyi_U","created_at":"2020-10-18T10:50:11-04:00","updated_at":"2021-03-08T21:17:03-05:00","promoted_at":null,"width":4131,"height":2703,"color":"#595959","blur_hash":"LMHKnS%gI?%1=xM|jFs,0gM{n%n~","description":"#calwoodfire
        in Boulder during sunset. The red dust in the bottom middle of the photo is
        a plane dropping flame retardant.","alt_description":null,"urls":{"raw":"https://images.unsplash.com/photo-1603032587342-2c7953a835bb?ixid=MnwyMTMwNDV8MHwxfHNlYXJjaHwxfHxCb3VsZGVyLGNvfGVufDF8fHx8MTYxNTMzMDI1OQ\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1603032587342-2c7953a835bb?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyMTMwNDV8MHwxfHNlYXJjaHwxfHxCb3VsZGVyLGNvfGVufDF8fHx8MTYxNTMzMDI1OQ\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1603032587342-2c7953a835bb?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMTMwNDV8MHwxfHNlYXJjaHwxfHxCb3VsZGVyLGNvfGVufDF8fHx8MTYxNTMzMDI1OQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1603032587342-2c7953a835bb?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMTMwNDV8MHwxfHNlYXJjaHwxfHxCb3VsZGVyLGNvfGVufDF8fHx8MTYxNTMzMDI1OQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1603032587342-2c7953a835bb?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMTMwNDV8MHwxfHNlYXJjaHwxfHxCb3VsZGVyLGNvfGVufDF8fHx8MTYxNTMzMDI1OQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/pdu9XoHyi_U","html":"https://unsplash.com/photos/pdu9XoHyi_U","download":"https://unsplash.com/photos/pdu9XoHyi_U/download","download_location":"https://api.unsplash.com/photos/pdu9XoHyi_U/download?ixid=MnwyMTMwNDV8MHwxfHNlYXJjaHwxfHxCb3VsZGVyLGNvfGVufDF8fHx8MTYxNTMzMDI1OQ"},"categories":[],"likes":2,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"Dz2EwsYzG40","updated_at":"2021-03-07T20:29:58-05:00","username":"dillonfancher","name":"Dillon
        Fancher","first_name":"Dillon","last_name":"Fancher","twitter_username":"PalsyWalsyD","portfolio_url":null,"bio":"I
        want to be outside using my body to experience beautiful places as much as
        possible. \r\n Working on myself and my ability to achieve my desire of adventure
        more frequently! :)   ","location":"Boulder, Colorado","links":{"self":"https://api.unsplash.com/users/dillonfancher","html":"https://unsplash.com/@dillonfancher","photos":"https://api.unsplash.com/users/dillonfancher/photos","likes":"https://api.unsplash.com/users/dillonfancher/likes","portfolio":"https://api.unsplash.com/users/dillonfancher/portfolio","following":"https://api.unsplash.com/users/dillonfancher/following","followers":"https://api.unsplash.com/users/dillonfancher/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1593530307546-718965d5c752image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1593530307546-718965d5c752image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1593530307546-718965d5c752image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"hi_dillon_","total_collections":0,"total_likes":0,"total_photos":35,"accepted_tos":true,"for_hire":false},"tags":[{"type":"landing_page","title":"nature","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"nature","pretty_slug":"Nature"}},"title":"Nature
        Images","subtitle":"Download free nature images","description":"Nature produces
        the most astoundingly beautiful images: the swirling lava of a volcano, palm
        trees against a blue sky, snow-capped mountains towering above. Unsplash has
        magnificent , high-quality photos of all the delights that nature has to offer.","meta_title":"100+
        Nature Pictures | Download Free Images \u0026 Stock Photos on Unsplash","meta_description":"Choose
        from hundreds of free nature pictures. Download HD nature photos for free
        on Unsplash.","cover_photo":{"id":"VE5FRc7uiC4","created_at":"2018-10-15T04:58:20-04:00","updated_at":"2021-02-28T11:04:39-05:00","promoted_at":"2018-10-15T08:23:00-04:00","width":4640,"height":3480,"color":"#262640","blur_hash":"L21o;CogI7WARNaxt9j]Mvaxxwof","description":"lost
        in the sky","alt_description":"star in space","urls":{"raw":"https://images.unsplash.com/photo-1539593395743-7da5ee10ff07?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1539593395743-7da5ee10ff07?ixlib=rb-1.2.1\u0026q=85\u0026fm=[...]
