---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=<UNSPLASH_API_KEY>&content_filter=high&count=1&query=Boulder,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d6b4a912220e854aa4ed674d138bbae7"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"rFfGVmBpH2E","created_at":"2021-02-19T19:34:07-05:00","updated_at":"2021-03-08T00:20:04-05:00","promoted_at":null,"width":5184,"height":3456,"color":"#262626","blur_hash":"L8ATGqtR0N$f%LxsR*xD9#M}r=Eh","description":null,"alt_description":"yellow
        leaf on gray wooden surface","urls":{"raw":"https://images.unsplash.com/photo-1613780926325-a6df191ab917?ixid=MXwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1613780926325-a6df191ab917?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MXwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1613780926325-a6df191ab917?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1613780926325-a6df191ab917?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1613780926325-a6df191ab917?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/rFfGVmBpH2E","html":"https://unsplash.com/photos/rFfGVmBpH2E","download":"https://unsplash.com/photos/rFfGVmBpH2E/download","download_location":"https://api.unsplash.com/photos/rFfGVmBpH2E/download"},"categories":[],"likes":1,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"UU0zc49mRQY","updated_at":"2021-03-08T09:47:03-05:00","username":"joetography","name":"Joe
        Dudeck","first_name":"Joe","last_name":"Dudeck","twitter_username":"joetography","portfolio_url":"https://www.joetography.us","bio":"Architecture
        and landscape photographer based in Colorado Springs","location":"Colorado
        Springs, CO","links":{"self":"https://api.unsplash.com/users/joetography","html":"https://unsplash.com/@joetography","photos":"https://api.unsplash.com/users/joetography/photos","likes":"https://api.unsplash.com/users/joetography/likes","portfolio":"https://api.unsplash.com/users/joetography/portfolio","following":"https://api.unsplash.com/users/joetography/following","followers":"https://api.unsplash.com/users/joetography/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1607294103507-b7b5c982a0abimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1607294103507-b7b5c982a0abimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1607294103507-b7b5c982a0abimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"joetography","total_collections":0,"total_likes":4,"total_photos":136,"accepted_tos":true,"for_hire":true},"exif":{"make":null,"model":null,"exposure_time":null,"aperture":null,"focal_length":null,"iso":null},"location":{"title":"Dillon,
        CO, USA","name":"Dillon, CO, USA","city":"Dillon","country":"United States","position":{"latitude":39.630264,"longitude":-106.043352}},"views":1098,"downloads":21}]'
  recorded_at: Mon, 08 Mar 2021 16:20:47 GMT
recorded_with: VCR 6.0.0
