---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=<UNSPLASH_API_KEY>&content_filter=high&count=1&query=Boulder,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"faa12c453a2b91dffd067b407cd54182"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"2jOOvLPXzgc","created_at":"2021-02-05T14:19:15-05:00","updated_at":"2021-03-09T00:18:27-05:00","promoted_at":null,"width":5792,"height":4016,"color":"#a6c0c0","blur_hash":"LcH32BIUbHRj_NRPNGozWBt7M{ae","description":"Watch
        Vlog: https://youtu.be/etogWJa3wHQ","alt_description":"gray rock on body of
        water during daytime","urls":{"raw":"https://images.unsplash.com/photo-1612552618420-f7cf4b512fca?ixid=MnwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MTUzMDM5NzA\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1612552618420-f7cf4b512fca?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MTUzMDM5NzA\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1612552618420-f7cf4b512fca?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MTUzMDM5NzA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1612552618420-f7cf4b512fca?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MTUzMDM5NzA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1612552618420-f7cf4b512fca?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MTUzMDM5NzA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/2jOOvLPXzgc","html":"https://unsplash.com/photos/2jOOvLPXzgc","download":"https://unsplash.com/photos/2jOOvLPXzgc/download","download_location":"https://api.unsplash.com/photos/2jOOvLPXzgc/download?ixid=MnwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MTUzMDM5NzA"},"categories":[],"likes":6,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"9yiXmHAclo0","updated_at":"2021-03-09T01:13:00-05:00","username":"intricateexplorer","name":"Intricate
        Explorer","first_name":"Intricate","last_name":"Explorer","twitter_username":"intricatexplore","portfolio_url":"https://www.intricateexplorer.com","bio":"adventure
        photographer // film maker\r\nwatch me take photos: youtube.com/intricateexplorer","location":"Boulder,
        CO","links":{"self":"https://api.unsplash.com/users/intricateexplorer","html":"https://unsplash.com/@intricateexplorer","photos":"https://api.unsplash.com/users/intricateexplorer/photos","likes":"https://api.unsplash.com/users/intricateexplorer/likes","portfolio":"https://api.unsplash.com/users/intricateexplorer/portfolio","following":"https://api.unsplash.com/users/intricateexplorer/following","followers":"https://api.unsplash.com/users/intricateexplorer/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1613597520752-2c855e863d96image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1613597520752-2c855e863d96image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1613597520752-2c855e863d96image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"intricateexplorer","total_collections":2,"total_likes":0,"total_photos":166,"accepted_tos":true,"for_hire":true},"exif":{"make":"SONY","model":"ILCE-6600","exposure_time":"1/4","aperture":"13.0","focal_length":"24.0","iso":50},"location":{"title":"Lake
        Tahoe, United States","name":"Lake Tahoe, United States","city":null,"country":"United
        States","position":{"latitude":39.096849,"longitude":-120.032351}},"views":73412,"downloads":95}]'
  recorded_at: Tue, 09 Mar 2021 15:32:50 GMT
recorded_with: VCR 6.0.0
