---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=<UNSPLASH_API_KEY>&content_filter=high&count=1&query=Denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0faa9ecf2d9b55f4f06ffd4bd7f5a60d"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"HwKhWmh_lUo","created_at":"2021-02-23T00:32:50-05:00","updated_at":"2021-03-08T19:26:03-05:00","promoted_at":null,"width":4160,"height":6240,"color":"#f3f3f3","blur_hash":"LaHo;8%gDjWA4qIUNIs:01t7${WB","description":"Skyscraper
        + Downtown Denver","alt_description":"white concrete building under blue sky
        during daytime","urls":{"raw":"https://images.unsplash.com/photo-1614057695717-eb48c02b83fe?ixid=MnwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MTUzMDM5Njc\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1614057695717-eb48c02b83fe?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MTUzMDM5Njc\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1614057695717-eb48c02b83fe?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MTUzMDM5Njc\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1614057695717-eb48c02b83fe?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MTUzMDM5Njc\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1614057695717-eb48c02b83fe?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MTUzMDM5Njc\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/HwKhWmh_lUo","html":"https://unsplash.com/photos/HwKhWmh_lUo","download":"https://unsplash.com/photos/HwKhWmh_lUo/download","download_location":"https://api.unsplash.com/photos/HwKhWmh_lUo/download?ixid=MnwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MTUzMDM5Njc"},"categories":[],"likes":3,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"gVqrdOZxG4E","updated_at":"2021-03-09T08:43:26-05:00","username":"frankielopez","name":"Frankie
        Lopez","first_name":"Frankie","last_name":"Lopez","twitter_username":null,"portfolio_url":"https://www.stubborn5.com","bio":"i
        really have no idea what i''m doing *** just point and shoot","location":"Tucson,
        AZ","links":{"self":"https://api.unsplash.com/users/frankielopez","html":"https://unsplash.com/@frankielopez","photos":"https://api.unsplash.com/users/frankielopez/photos","likes":"https://api.unsplash.com/users/frankielopez/likes","portfolio":"https://api.unsplash.com/users/frankielopez/portfolio","following":"https://api.unsplash.com/users/frankielopez/following","followers":"https://api.unsplash.com/users/frankielopez/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1553406943088-6ada29d5b52a?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1553406943088-6ada29d5b52a?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1553406943088-6ada29d5b52a?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"stubborn5design/","total_collections":0,"total_likes":108,"total_photos":157,"accepted_tos":true,"for_hire":true},"exif":{"make":"Canon","model":"Canon
        EOS 6D Mark II","exposure_time":"1/400","aperture":"4.0","focal_length":"24.0","iso":100},"location":{"title":"Denver,
        CO, USA","name":"Denver, CO, USA","city":"Denver","country":"United States","position":{"latitude":39.739236,"longitude":-104.990251}},"views":42923,"downloads":219}]'
  recorded_at: Tue, 09 Mar 2021 15:32:47 GMT
recorded_with: VCR 6.0.0
