---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=<UNSPLASH_API_KEY>&content_filter=high&count=1&query=Denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c834ce9dfebc0e35a7745a0d0e052b61"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"Kumw2dCVFl0","created_at":"2021-02-16T18:25:51-05:00","updated_at":"2021-03-07T12:17:04-05:00","promoted_at":null,"width":6000,"height":3376,"color":"#a6a6a6","blur_hash":"LAJuM@Rj4Tofxuaya|kCofoMxtj[","description":"Chairlift
        in Snowstorm","alt_description":"white cable car on foggy weather","urls":{"raw":"https://images.unsplash.com/photo-1613517661934-4c7f48ea92e1?ixid=MXwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1613517661934-4c7f48ea92e1?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MXwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1613517661934-4c7f48ea92e1?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1613517661934-4c7f48ea92e1?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1613517661934-4c7f48ea92e1?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwyMTMwNDV8MHwxfHJhbmRvbXx8fHx8fHx8\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/Kumw2dCVFl0","html":"https://unsplash.com/photos/Kumw2dCVFl0","download":"https://unsplash.com/photos/Kumw2dCVFl0/download","download_location":"https://api.unsplash.com/photos/Kumw2dCVFl0/download"},"categories":[],"likes":0,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"OMdeq0JX-4o","updated_at":"2021-03-07T17:26:31-05:00","username":"joshuas","name":"Joshua
        Sukoff","first_name":"Joshua","last_name":"Sukoff","twitter_username":"JoshSukoff","portfolio_url":null,"bio":"17
        Year Old | Avid Skier | Traveling Photographer | NYC\r\n","location":"New
        York, New York","links":{"self":"https://api.unsplash.com/users/joshuas","html":"https://unsplash.com/@joshuas","photos":"https://api.unsplash.com/users/joshuas/photos","likes":"https://api.unsplash.com/users/joshuas/likes","portfolio":"https://api.unsplash.com/users/joshuas/portfolio","following":"https://api.unsplash.com/users/joshuas/following","followers":"https://api.unsplash.com/users/joshuas/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1591118273937-f67d36f999b7image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1591118273937-f67d36f999b7image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1591118273937-f67d36f999b7image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"Joshuasukoff","total_collections":3,"total_likes":14,"total_photos":140,"accepted_tos":true,"for_hire":true},"exif":{"make":"Canon","model":"Canon
        EOS M3","exposure_time":"1/2000","aperture":"5.6","focal_length":"21.0","iso":200},"location":{"title":"Aspen,
        CO, USA","name":"Aspen, CO, USA","city":"Aspen","country":"United States","position":{"latitude":39.191098,"longitude":-106.817539}},"views":6568,"downloads":50}]'
  recorded_at: Mon, 08 Mar 2021 00:28:06 GMT
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=<UNSPLASH_API_KEY>&content_filter=high&count=1&query%5B%5D%5Balt_description%5D=white%20cable%20car%20on%20foggy%20weather&query%5B%5D%5Bblur_hash%5D=LAJuM@Rj4Tofxuaya%7CkCofoMxtj%5B&query%5B%5D%5Bcategories%5D%5B0%5D&query%5B%5D%5Bcolor%5D=%23a6a6a6&query%5B%5D%5Bcreated_at%5D=2021-02-16T18:25:51-05:00&query%5B%5D%5Bcurrent_user_collections%5D%5B0%5D&query%5B%5D%5Bdescription%5D=Chairlift%20in%20Snowstorm&query[...]
