---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API_KEY>&exclude=minutely,alerts&lat=40.015831&lon=-105.27927&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.0158,"lon":-105.2793,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1615999691,"sunrise":1615986534,"sunset":1616029791,"temp":33.76,"feels_like":27.73,"pressure":1020,"humidity":80,"dew_point":28.71,"uvi":4.28,"clouds":90,"visibility":10000,"wind_speed":3.44,"wind_deg":220,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1615996800,"temp":33.76,"feels_like":27.86,"pressure":1020,"humidity":80,"dew_point":28.71,"uvi":2.57,"clouds":90,"visibility":10000,"wind_speed":3.22,"wind_deg":44,"wind_gust":4.05,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.22},{"dt":1616000400,"temp":32.7,"feels_like":27.88,"pressure":1021,"humidity":86,"dew_point":29.34,"uvi":4.28,"clouds":91,"visibility":10000,"wind_speed":1.48,"wind_deg":126,"wind_gust":2.82,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.22},{"dt":1616004000,"temp":33.87,"feels_like":28.85,"pressure":1022,"humidity":94,"dew_point":32.32,"uvi":5.68,"clouds":92,"visibility":10000,"wind_speed":2.66,"wind_deg":214,"wind_gust":5.32,"weather":[{"[...]
