---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=1&location=Denver,co&open_now=true&term=burger
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6p0ecZl828-iS6ZrCeywvNMou2-CfB0_hJRHa6SOZbqIb6X4ENaWOzBYFJiBwrMF4cs4zQ5za9E9rRl_PbKdivn8sr3rpf2hSpO9DgPhtzColMRp843I6temVZtFYHYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 6e877e28c7d88d47
      Ratelimit-Remaining:
      - '4971'
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Resettime:
      - '2021-03-09T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-8665dfcd87-s69h5; site=public_api_v3
      X-Proxied:
      - 10-69-113-152-uswest2aprod
      X-Extlb:
      - 10-69-113-152-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "qL1TAAGQNh_7ddxW1U7fOg", "alias": "crown-burgers-denver",
        "name": "Crown Burgers", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/yrlzhmxSBqF4njvs9hIWIA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/crown-burgers-denver?adjust_creative=whnyrr4ePL4kjQUoziRbMA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=whnyrr4ePL4kjQUoziRbMA",
        "review_count": 290, "categories": [{"alias": "burgers", "title": "Burgers"},
        {"alias": "tradamerican", "title": "American (Traditional)"}], "rating": 4.0,
        "coordinates": {"latitude": 39.6767845153809, "longitude": -104.940330505371},
        "transactions": ["delivery"], "price": "$", "location": {"address1": "2192
        S Colorado Blvd", "address2": "", "address3": "", "city": "Denver", "zip_code":
        "80222", "country": "US", "state": "CO", "display_address": ["2192 S Colorado
        Blvd", "Denver, CO 80222"]}, "phone": "+13037539696", "display_phone": "(303)
        753-9696", "distance": 7001.781138922748}], "total": 932, "region": {"center":
        {"longitude": -104.97024536132812, "latitude": 39.73552421220229}}}'
  recorded_at: Mon, 08 Mar 2021 17:27:27 GMT
recorded_with: VCR 6.0.0
